@use "./custom.scss" as *;

div.search_container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  @include screen-breakpoint("lg") {
    flex-flow: row;
    margin-top: 2.325rem;

    & > h1 {
      margin-top: 0;
      flex: 1;
    }

    & > div {
      margin-left: auto;
      margin-bottom: 0;
      max-width: 306px;
    }
  }
}

//Employee Container {

div.employees_container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

//Form Button
div.form_btn {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;

  @include screen-breakpoint("lg") {
    justify-content: flex-start;
    margin-top: 4.5rem;
  }

  & > button {
    min-width: 300px;
    margin-bottom: 0;
  }
}

//No Employees Styling
div.no_employees {
  margin-top: 3rem;

  & > p {
    font-size: 1.5rem;
    color: $gray;
  }
}
