$darker_yellow: #fed428;
$neutral_black: #1a1e29;
$white: #f8f8f7;
$bright_white: #fff;
$light_gray: #e0e0e0;
$gray: #a8a8a8;

//Main component colors
$background-white: #fbf8f7;
$footer-gray: #e5e5e5;
