@use "sass:map";

$darker_yellow: #fed428;
$neutral_black: #1a1e29;
$white: #f8f8f7;
$bright_white: #fff;
$light_gray: #e0e0e0;
$gray: #a8a8a8;
$success: #4cc938;
$light-blue: #a2c6ff;
$error-red: #e62e0d;

//Notification Alerts
$error-text: hsla(9, 90%, 25%, 1);
$error-background: hsla(9, 89%, 48%, 0.5);
$success-text: hsla(112, 78%, 24%, 1);
$success-background: hsla(112, 58%, 51%, 0.5);

//Main component colors
$background-white: #fbf8f7;
$footer-gray: #e5e5e5;

@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

//Font variables
$header_font: "Outfit", sans-serif;
$profile_font: "Roboto", sans-serif;
$body_font: "Albert Sans", sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px,
);

//screen break points
$breakpoints: (
  "sm": 320px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1440px,
);

//Mixins

// Screen media queries
@mixin screen-breakpoint($size) {
  $breakpoint: map.get(
    $map: $breakpoints,
    $key: $size,
  );

  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@media (min-width: 1024px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
