@use "./custom.scss" as *;
@use "sass:color";

.icon_btn_container{
    max-width: 100%;
    margin-top: 5rem;

    .icon_btn{
        text-decoration: none;
        color: $neutral_black;
        padding-right: 10px;
        padding-bottom: 10px;

        &:hover{
            color: $darker_yellow;
        }

        .icon_card{
            width: 161px;
            height: 161px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            i{
                font-size: 48px;
            }
        }

    @include screen-breakpoint("lg") {
      .icon_card{
            width: 200px;
            height: 200px;

            i{
                font-size: 60px;
            }
        }
    }
}