@use "./custom.scss" as *;
@use "sass:color";

.icon_btn_container{
    width: 344px;
    margin-top: 5rem;

    .icon_btn{
        text-decoration: none;
        color: $neutral_black;
        padding-bottom: 21px;

        .icon_card{
            width: 161px;
            height: 161px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            i{
                font-size: 48px;
            }
        }
}

@include screen-breakpoint("lg") {
        .icon_btn_container{
            width: 420px;
            margin-top: 5rem;
            
            .icon_btn{
                .icon_card{
                    width: 200px;
                    height: 200px;

                    i{
                        font-size: 60px;
                    }
                }
            }
        }
    }