@use "./custom.scss" as *;
@use "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  font-size: 16px;
  box-sizing: border-box;
  font-family: $body_font;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: $body_font;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background-white;
  color: $neutral_black;
}

//Site Layout Styling
#root {
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;

  //layout for side nav & desktop layout might have to do grid
  @include screen-breakpoint("lg") {
    display: grid;
    min-width: 100wh;
    grid-template-columns: 296px, 1fr;
    grid-template-rows: auto, auto, auto;
  }
}

//Nav/Header Layout
header {
  @include screen-breakpoint("lg") {
    position: fixed;
    top: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: $neutral_black;
    box-shadow: -3px 0px 24px 0px rgba(0, 0, 0, 0.21);
  }
}
nav {
  @include screen-breakpoint("lg") {
    position: sticky;
    top: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    height: 100vh;

    & .navbar-collapse {
      padding-left: 43px;
      width: 100%;
      margin-top: 4.875rem;
      display: flex;
      flex: 1;
      align-items: stretch;
      padding-bottom: 77px;
      min-width: 296px;
    }
  }
}

//Main Styling
main {
  min-height: calc(100vh - 77px - 3rem - 120px);
  margin: 0 2rem;
  display: flex;
  flex-flow: column nowrap;
  position: relative;

  &.no-nav {
    min-height: calc(100vh - 77px - 3rem);
    margin: auto;

    @include screen-breakpoint("lg") {
      padding-left: 0;
    }

    &.error {
      margin: 0 2rem;
    }

    @include screen-breakpoint("lg") {
      min-height: calc(100vh - 77px - 4rem);
      grid-column: 1/3;
      grid-row: 1/3;
    }
  }

  @include screen-breakpoint("lg") {
    min-height: calc(100vh - 77px - 4rem - 104px);
    grid-column: 2/3;
    grid-row: 2 /3;
    padding-left: calc(135px - 2rem);
    width: calc(100vw - 296px - 4rem);
    margin-left: 296px;
  }

  //Content Layout
  & > div.content {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;

    &.y-center {
      justify-content: center;
    }

    &.x-center {
      margin: auto;
      align-content: center;
    }

    &.margin-side-1 {
      margin: auto 1rem;
    }
  }
}

//Footer Styling
footer {
  margin-top: 3rem;
  height: 77px;
  width: 100%;
  background-color: $footer-gray;
  border-top: 0.5px solid $gray;
  padding: 10px;
  padding-bottom: 22px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;

  @include screen-breakpoint("lg") {
    margin-top: 4rem;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    //width: calc(100% - 296px);

    &.no-nav {
      width: 100%;
      grid-column: 1 / 3;
    }
  }

  & > p.footer-name {
    font-size: 2rem;
    line-height: normal;
    font-family: $header_font;
    margin-bottom: 0.25rem;
  }

  & > span.footer-copy {
    font-size: 0.625rem;
    line-height: 0.1rem;
    font-family: $header_font;
  }
}

//Text Stlyings
h2 {
  font-family: $header_font;
  font-size: 2rem;
  font-weight: normal;
}

//Active Link Styling
a.active {
  color: $darker_yellow !important;

  @include screen-breakpoint("lg") {
    border-bottom: 1px solid $darker_yellow !important;
  }
}

//Error api page
div.errorapi_container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1;
  flex-flow: column nowrap;

  & > p {
    margin-top: 0.75rem;
    line-height: 16px;
    margin-bottom: 2.5rem;
  }
}

//Error Page Styling
div.error-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  & > button {
    height: 50px;
    margin-top: 1.5rem;
  }

  & > div {
    max-width: 100%;

    & > img {
      width: 100%;
      height: auto;
    }
  }
}
