@use "./custom.scss" as *;
@use "sass:color";

div.input_container {
  margin-bottom: 1.5rem;
  max-width: 500px;
  flex: 1;
  width: 100%;
  position: relative;

  //Error Text
  & > p {
    margin: 0;
    padding: 0;
    color: $error-background;
    font-weight: 500;
    font-size: 0.825rem;
    position: absolute;
    bottom: -20px;
  }

  //Label Styling
  & > label {
    font-size: 1rem;
    font-weight: 500;

    @include screen-breakpoint("lg") {
      font-size: 1.125rem;
    }
  }

  //Input Styling
  & > input,
  & > textarea,
  & > select {
    background-color: $white;
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid $gray;
    height: 40px;
    padding: 0.75rem;

    //Focus Styling
    &:focus {
      border-color: color.adjust($color: $gray, $lightness: -20%);
      outline: none;
    }
  }

  //Text Area Styling
  & > textarea {
    min-height: 132px;
  }

  & > select.selection {
    padding: 0px 46px 0px 10px;
    position: relative;
    appearance: none;
    background-image: url("../assets/images/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 13px top 50%;
    background-size: 32px auto;

    & > option {
      padding: 0rem;
      border-radius: 0;
    }
  }
}
