@use "./custom.scss" as *;

div.insights {
  padding: 1.25rem;
  text-align: center;

  & > p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 0;
  }
}

div.enrollment {
  display: flex;

  justify-content: center;
  padding: 0.5rem 1.25rem;

  //Block of Stage infomation
  & > div.stage {
    //Big number
    text-align: center;
    & > p {
      margin: 0;
      &.number {
        font-size: 1.5rem;
        font-weight: 700;
      }
      //Stage
      &.stage_text {
        font-size: 0.825rem;
      }
    }
  }

  //Diver
  & > div.divider {
    flex: 0;
    background-color: $neutral_black;
    min-width: 1px;
    margin: 0.5rem 1rem;
    max-height: 100%;

    @include screen-breakpoint("lg") {
      margin: 0.5rem 1.5rem;
      min-width: 2px;
    }
  }
}

//Employees Container
div.employees_container {
  height: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-flow: column nowrap;

  & > h3 {
    margin: 0;
    font-family: $header_font;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &.trainer {
    height: 100%;
    padding: 0;
    border-width: 0px;
    box-shadow: none;
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;

    @include screen-breakpoint("lg") {
      height: 100%;
      padding: 1.5rem 2rem;
      display: flex;
      flex-flow: column nowrap;
      background-color: $bright_white;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-width: 0.5px;
    }

    & button {
      display: none;

      @include screen-breakpoint("lg") {
        display: block;
      }
    }
  }
}

//Search Bar
div.search_container {
  margin-top: 0.75rem;
}

div.employee_list_container {
  flex: 1;
  border-bottom: 1px solid $light_gray;
  border-top: 1px solid $light_gray;
  margin-bottom: 0.5rem;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 375px;

  &.trainer {
    min-height: 375px;
  }

  & > p {
    font-size: 1.5rem;
    text-align: center;
    color: $gray;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

//Employee Modal
div.employee_modal {
  margin-top: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  overflow-y: scroll;
  height: calc(355px - 1.5rem);
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & a {
    text-decoration: none;
    color: $neutral_black;
  }

  & > p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: $gray;
  }
}
