@use "./custom.scss" as *;
a.mini_training_card_container {
  text-decoration: none;
}
div.mini_training_card {
  height: 100px;
  align-items: center;

  @include screen-breakpoint("lg") {
    height: 70px;
  }
  //background color
  & > div.background_color {
    width: 20px;
    min-height: 100%;
  }

  & > p.title {
    font-family: $header_font;
    font-size: 1.5rem;
    margin: 0;
    margin-left: 1.25rem;
    color: $neutral_black;
    text-decoration: none;
  }

  //Button Styling
  & > button {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 1rem;
    max-width: 150px;
  }
}
