@use "./custom.scss" as *;

div.profile {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  border: 0.5px solid $neutral_black;

  @include screen-breakpoint("lg") {
    width: 45px;
    height: 45px;
  }

  & > span {
    font-size: 16px;
    text-decoration: none;
    color: $neutral_black;
    line-height: 30px;
    font-family: $profile_font;
    @include screen-breakpoint("lg") {
      line-height: 45px;
      font-size: 18px;
    }
  }

  &.medium {
    justify-self: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 1rem;

    @include screen-breakpoint("md") {
      justify-self: start;
    }

    & > span {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &.large {
    justify-self: center;
    align-items: center;
    width: 164px;
    height: 164px;
    margin: 1rem;

    @include screen-breakpoint("lg") {
      justify-self: start;
    }

    & > span {
      font-size: 64px;
      line-height: 60px;
    }
  }
}
