@use "./custom.scss" as *;

//Form Title
h2.form_title {
  font-size: 1.5rem;
  margin-top: 1.5rem;

  &.session_section {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}
//Error Message Layout
div.error_msg {
  max-width: 500px;
  display: flex;
  justify-content: center;
}

//Training Form
form.form {
  margin-top: 1.5rem;
  max-width: 500px;

  & > div > button.add_btn {
    width: 178px;

    @include screen-breakpoint("lg") {
      width: 302px;
    }
  }
}

//Sessions Layout
div.sessions {
  display: flex;
  gap: 1.5rem;
  flex-flow: column nowrap;
  margin-bottom: 1.5rem;
}

//Form Session Container
div.session_container {
  max-width: 497px;

  //Session Header
  div.session_header {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1rem 1.25rem 0.75rem 1.25rem;
    display: flex;
    justify-content: space-between;

    & > p {
      margin: 0;
    }

    & > button {
      outline: none;
      border: none;
      color: $gray;
      background-color: transparent;
    }
  }
  //Horiztonal Line Styling
  & > hr {
    margin: 0;
    height: 0.5px;
    background-color: $gray;
  }

  //Session Form Body
  & div.session_body {
    padding: 1.25rem 2rem 0.5rem 1.125rem;

    & > div.top_row {
      display: flex;
      flex-flow: row nowrap;

      gap: 1.75rem;

      @include screen-breakpoint("lg") {
        gap: 2.5rem;
      }
    }
  }
}

//Small input for time and date
div.small_input {
  //Time Input
  &.time {
    max-width: 176px;
  }
  //Date Input
  &.date,
  &.deadline {
    max-width: 195px;
  }
  & > input {
    height: 30px;
    font-size: 12px;
  }

  //Deadline Input
  &.time,
  &.duration {
    max-width: 176px;
  }

  //Deadline Input
  &.deadline {
    width: 135px;

    @include screen-breakpoint("lg") {
      width: 195px;
    }
  }

  //Duration Input
  &.duration {
    width: 122px;

    @include screen-breakpoint("lg") {
      width: 176px;
    }
  }
}

//Duration and Deadline Row
div.double_row {
  display: flex;
  gap: 1.5rem;
  flex-flow: row nowrap;

  @include screen-breakpoint("lg") {
    gap: 2.25rem;
  }
}

//Button Controls
div.btn_controls {
  margin-top: 73px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;

  &.user_btns {
    margin-top: 38px;

    @include screen-breakpoint("lg") {
      margin-top: 50px;
    }
  }

  @include screen-breakpoint("lg") {
    margin-top: 2rem;
    gap: 1rem;
    flex-flow: row nowrap;
  }

  & > button {
    width: 100%;
    margin-bottom: 0;

    @include screen-breakpoint("lg") {
      max-width: 183px;
      order: 1;
    }

    //Cancel Button
    &.cancel {
      @include screen-breakpoint("lg") {
        max-width: 183px;
        order: 1;
      }
    }

    //Submit Button
    &.submit {
      @include screen-breakpoint("lg") {
        max-width: 305px;
        order: 2;
      }
    }
  }
}

//Duration Input Styling
div.duration {
  max-width: 122px;

  @include screen-breakpoint("lg") {
    max-width: 176px;
  }
  & > select {
    font-size: 12px;
    height: 30px;
    appearance: none;
    background-image: url("../assets/images/ClockFill.svg") !important;
    background-repeat: no-repeat;
    background-position: right 6px top 50% !important;
    background-size: 16px auto !important;
    padding: 0px 24px 0px 10px !important;
  }
}
