@use "./custom.scss" as *;

//Title Container
div.title_container {
  @include screen-breakpoint("lg") {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 2.25rem;

    & > h1 {
      margin-top: 0;
    }

    //Search Bar Desktop
    & > div {
      margin-left: auto;
      min-width: 344px;
    }
  }
}

//Search Bar Container
div.search_container {
  margin-top: 1.5rem;
}

//Training Container
div.training_container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;

  & a {
    text-decoration: none;
  }

  &.mobile {
    display: flex;
    @include screen-breakpoint("lg") {
      display: none;
    }
  }

  &.desktop {
    display: none;

    @include screen-breakpoint("lg") {
      display: flex;
    }
  }
}

p.no_trainings {
  font-size: 1.75rem;
  text-align: center;
  color: $gray;

  @include screen-breakpoint("lg") {
    padding-top: 3rem;
  }
}

//Admin Btn Controls
div.admin_top_controls {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;

  & > button {
    margin: auto;
    min-width: 300px;
  }

  @include screen-breakpoint("lg") {
    display: block;
    gap: 0px;
    margin-bottom: 3rem;

    & > button {
      margin-top: 3.25rem;
      min-width: 376px;
      height: 50px;
    }
  }
}

div.status_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @include screen-breakpoint("lg") {
    gap: 3rem;
  }
}
